.ProjectsContainer{
    text-align: center;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    height: 100vh;
    /* background-color: black; */
    padding-top: 100px;
   
}

.Projects-paragraph{
    margin-left: 20px;
    margin-right: 20px;
}

