.SkillContainer{
    text-align: center;
    background: rgb(238, 223, 233);
    border-radius: 50px;
    height: 60vh;
    padding-top: 90px;
    
    
    
    
}
.slider{
    text-align: center;
    padding-top: 100px;
}


